html {
  font-size: 14px;
}

body {
  overflow-y: scroll;

  background: #f6f6f6;
  color: #525252;

  font-family: 'M PLUS Rounded 1c';
  line-height: 1.4;
}

p {
  line-height: 1.65;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin-top: 0.5rem;
}

img {
  max-width: 600px;
}

pre {
  background-color: #444444;
  padding: 0.5rem;
}

code {
  background-color: #444444;
  color: #eeeeee;
  border-radius: 3px;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.85rem;
  padding: 0.2rem, 0;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after {
  content: "";
}